@model IEnumerable<HospitalManagementSystem.Models.upcomingApp>
@{
    ViewBag.Title = "upcomingAppointment";
}

<h2>Upcoming Appointments</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_admitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>
    @ViewBag.Message
    @foreach (var item in Model)
    {
        <tr>
            <td style="display:none;">
                @Html.DisplayFor(modelItem => item.pdid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_admitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.ActionLink("Cancel Appointment", "cancel_appointment", new { id = item.pdid })
            </td>
        </tr>
    }

</table>
